body {
  padding: 0px;
  margin: 0px;
  height: 5000px;
  max-width: 1366px;
}


.container-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #e9ecef;
  margin: 0px 55px 0px 55px;
}

.container-menu h1{
  color: #212529;
}

.menu{
  display: flex;
  color: #212529;
  gap: 40px;
  list-style-type: none;
}

li{
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
}

.container-submenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  margin: 0px 54px 0px 54px
}

.submenu{
  position: relative;
  color: #212529;
  display: flex;
  gap: 40px;
  list-style-type: none;
  margin: 0px;
  justify-self: center;
}

.submenu li::after{
 position: absolute; 
 content: "⮟"; 
 align-items: center;
 padding: 5px;
 cursor: pointer;
 bottom: 6px;
 
}

.submenu li.ativo::after {
  content: '⮝';
}

.sublista{
  display: none;
  position: absolute;
  margin-top: 42px;
  width: 120px;
  height: 150px;
  background: #fff;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}

.ativo{
  display: block;
}

.sublista li{
  font-size: 12px;
  list-style-type: none;
}

.sublista li::after {
  display: none;
}

.container-submenu button {
  font-size: 15px;
  color: #fff;
  background-color: #2d83ff;
  border-color: #2d83ff;
  border-radius: 999px;
  border-style: solid;
  border-width: 1px;
  font-family: Arial;
  padding: 7px 24px 8px;
  white-space: nowrap;
  font-weight: 700;
}

.elemento-principal h1 {
  color: #343a40;
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 114px;
}

strong{
  margin-top: 20px;
}

h2{
  color: #212529;
  margin: 0px;
}

.elemento-principal{
  font-size: 30px;
  height: 490px;
  background: #90e0ef;
}

.container-img img{
  max-width: 1100px;
  object-fit: cover;
  margin-top: 46px;
}

.input-email{
  text-align: center;
  padding-top: 71px;
}

.input-email input{
  background-color: #fff;
  border-color: #fff;
  border-radius: 999px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  height: 37px;
  padding: 6px 50px 6px ;
  width: 270px;
}

.input-email button{
  color: #212529;
  background: rgb(250 96 80);
  font-size: 20px;
  border-radius: 999px;
  border-style: solid;
  border-width: 1px;
  font-family: Arial;
  font-weight: 600;
  padding: 15px 30px 15px;
  cursor: pointer;
  border: none;
}

.submenu-central{
  font-size: 12px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
  margin: 650px 81px 30px 81px;
  padding: 0;
}

.submenu-central li{
  color: #212529;
  font-size: 12px;
  white-space: nowrap;
  font-weight: 600;
}

.before::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 35px;
  background-color: #adb5bd;
  margin-left: -30px;
  margin-top: -9px;
  align-content: center;
}

.container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 464px;
  padding-top: 164px;
  background: #f2f2f2;
}

.container-grid{
  font-size: 20px;
  line-height: 48px;
  text-shadow: #0000 0px 0px 0px;
}

.container-grid button{
  grid-column: 2;
  font-size: 16px;
  color: #fff;
  background-color: #212529;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  white-space: nowrap;
  font-weight: 700;
}

.container-grid button:hover{
  color: #212529;
  background: #91bbeb;
  border: none;
}

.container-grid h1{
  color: #212529;
  font-size: 40px;
  margin: 0px 0px 0px 140px;
}

p {
  color: #6c757d;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
  
}

